{
  "useTabs": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "singleQuote": true,
  "semi": true,
  "tabWidth": 2,
  "printWidth": 120,
  "jsxSingleQuote": true,
  "bracketSameLine": false,
  "singleAttributePerLine": true,
  "htmlWhitespaceSensitivity": "ignore"
}
